html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/*
.item img {
  width:100%
}
*/

.carousel {
  max-width:640px;
  width:100%;
  margin:0px auto;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.text-muted {
	font-size: 20px;
}

/*------------custom-css----------------*/
.dropdown-menu img{ margin-right:5px; max-height: 13px; vertical-align: inherit; }
iframe{ max-width:100%; }
.dropdown-item i{ min-width:22px; margin-right:5px; text-align:center; }
.contact-details p{ margin-bottom:0px; }
.contact-details i { min-width: 30px; font-size:20px; text-align: left;}

@media(max-width:768px){
.contact-details{ padding-top:25px; padding-left:0px !important; padding-bottom:25px !important;  }
}